
<div layout="row" layout-align="center">
    <div layout="column" flex="50" class="md-whiteframe-4dp privacy-policy-wrapper md-padding" layout-wrap>
        <h2 style="text-align:left; font-weight:800;">About Steam Friends</h2>
        <p>
            Our goal is to help Steam users find other users to play games with. If your friends in real life don't play any Steam games, or just aren't that huge on gaming, it could end up being a pain in the ass when you're sitting alone in your room on a Friday night and itching to pull an all nighter wth someone.  Or who knows, you might be that guy with a packed 50 hour work week who needs a little bit of companionship after work. There are other avenues to this, we know. We strive to simplify the process.
        </p>
    </div>
</div>