<div layout="row" layout-align="center" class="login-modal-wrapper" style="width: 500px;"> <!-- specific width for IE11 -->
    <div flex="80" class="login-modal" >
        <div layout="column" layout-align="center center" class="login-modal-content">
            <h3 style="width: 400px;" class="login-modal-header">You've been blocked by this user.</h3>
        </div>
    </div>
</div>