<div layout="row" layout-align="center" class="login-modal-wrapper">
    <div flex="80" class="login-modal" >
        <div layout="column" layout-align="center center" class="login-modal-content">
            <h3 class="login-modal-header">Are you sure you want to delete all conversations?</h3>
            <div layout="row" layout-align="center">
                <div flex="50">
                    <md-button class="md-raised" ng-click="convoCtrl.confirmDelete()">Ok</md-button>
                </div>
                <div flex="50">
                    <md-button class="md-raised" ng-click="convoCtrl.cancelDelete()">Cancel</md-button>
                </div>
            </div>
        </div>
    </div>
</div>