
<div layout="row" layout-align="center">
    <div layout="column" flex="50" class="md-whiteframe-4dp disclaimer-wrapper md-padding" layout-wrap>
            <h2 style="text-align:left; font-weight:800;">DISCLAIMER</h2>
            <p>
                We disclaim any responsibility for the deletion, failure to store, mis-delivery, or untimely delivery of any information or material. We disclaim any responsibility for any harm resulting from downloading or accessing any information or material on the Internet using search results from our sites. We disclaim any responsibility for service outages that are caused by our maintenance on the servers or the technology that underlies our sites, failures of our service providers (including telecommunications, hosting and power providers) computer viruses, natural disasters or other destruction or damage of our facilities, an act of nature, war, civil disturbance or other cause beyond our reasonable control.
            </p>
            <p>
                WE DO NOT WARRANT THAT OUR SITES WILL BE UNINTERRUPTED OR ERROR-FREE. IN ADDITION, WE DO NOT MAKE ANY WARRANTY AS TO THE CONTENT ON OUR SITES. OUR SITES AND THEIR CONTENT ARE DISTRIBUTED ON AN "AS IS, AS AVAILABLE" BASIS. ANY MATERIAL THAT YOU DOWNLOAD OR OTHERWISE OBTAIN THROUGH OUR SITES IS DONE AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY POTENTIAL DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM YOUR DOWNLOAD OF ANY SUCH MATERIAL. NEITHER WE NOR ANY OF OUR PARTNERS MAKES ANY WARRANTY THAT (i) OUR SITES WILL MEET YOUR REQUIREMENTS, (ii) OUR SITES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) ANY THIRD PARTY SOFTWARE OR OTHER MATERIALS WILL BE NON-INFRINGING, ACCURATE OR RELIABLE, (iv) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF OUR SITES WILL BE ACCURATE OR RELIABLE, (v) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL THAT YOU PURCHASE OR OBTAIN THROUGH OUR SITES WILL MEET YOUR EXPECTATIONS, (vi) ANY ERRORS IN OUR SITES OR THIRD PARTY SOFTWARE WILL BE CORRECTED, AND (vii) OUR SITES, ITS CONTENT, AND THE SERVERS ON WHICH OUR SITES AND CONTENT ARE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
            </p>
            <p>
                NEITHER WE NOR ANY OF OUR PARTNERS MAKES ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES AS TO THE AVAILABILITY, ACCURACY, OR CONTENT OF INFORMATION, PRODUCTS, OR SERVICES; ANY WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT, WITH RESPECT TO OUR SITES, ANY CONTENT OR ANY OF OUR SERVICES, TOOLS, PRODUCTS OR PROPERTIES. YOU EXPRESSLY AGREE THAT YOU WILL ASSUME THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF OUR SITES AND THE ACCURACY OR COMPLETENESS OF ITS CONTENT.
            </p>
            <p>
                NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM OR THROUGH OUR SITES OR OUR PARTNERS SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS.
            </p>
            <p>
                OUR SITES MAY CONTAIN VARIOUS COMBINATIONS OF TEXT, IMAGES, AUDIOVISUAL PRODUCTIONS, OPINIONS, STATEMENTS, FACTS, ARTICLES, OR OTHER INFORMATION CREATED BY US OR BY THIRD-PARTIES. DUE TO THE NUMBER OF SOURCES FROM WHICH CONTENT IN OUR SITES IS OBTAINED, AND THE INHERENT HAZARDS OF ELECTRONIC DISTRIBUTION, THERE MAY BE DELAYS, OMISSIONS OR INACCURACIES IN SUCH CONTENT. ACCORDINGLY, SUCH CONTENT, INCLUDING THE MARKET DATA, IS FOR YOUR REFERENCE ONLY AND SHOULD NOT BE RELIED UPON BY YOU FOR ANY PURPOSE. SUCH CONTENT IS NOT INTENDED FOR THE PURPOSE OF TAX OR INVESTMENT ADVICE AND IT DOES NOT ADVOCATE THE PURCHASE OR SALE OF ANY SECURITY OR INVESTMENT.
            </p>
            <p>
                INFORMATION CREATED BY THIRD PARTIES THAT YOU MAY ACCESS ON OUR SITES OR THROUGH LINKS IS NOT ADOPTED OR ENDORSED BY US AND REMAINS THE RESPONSIBILITY OF SUCH THIRD PARTIES.
            </p>
            <p>
                YOU HEREBY WARRANT AND REPRESENT THAT YOU ARE IN ALL RESPECTS QUALIFIED AND COMPETENT TO ABIDE BY THESE TERMS.
            </p>
            <h3>
                Limitations of Liability
            </h3>
            <p>
                YOU EXPRESSLY UNDERSTAND AND AGREE THAT NEITHER WE NOR ANY OF OUR PARTNERS SHALL BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF REVENUE, PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE OUR SITES; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM OUR SITES; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANYONE ON OUR SITES; OR (v) ANY OTHER MATTER RELATING TO OUR SITES. FURTHER, OUR AGGREGATE LIABILITY ARISING WITH RESPECT TO THESE TERMS AND OUR SITES WILL NOT EXCEED THE TOTAL FEES PAID BY YOU UNDER THESE TERMS.
            </p>
            <p>
                SOME STATES DO NOT ALLOW EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. IN SUCH STATES, OUR LIABILITY AND THAT OF OUR THIRD PARTY CONTENT PROVIDERS AND THEIR RESPECTIVE AGENTS SHALL BE LIMITED TO THE GREATEST EXTENT PERMITT
            </p>
    </div>
</div>
