<br>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2"><div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Oh snap!</strong> The page you were looking for was not found!
    </div></div>
</div>