<div layout-padding layout-margin class="private-settings-explain-box">
    <h3 style="font-style:italic; color:rgba(66,66,66,0.7);">Why should I open my profile to the public?</h3>
        <p flex="100">When you log in with your steam account, our site accesses steam servers for your recently played games record.  If your steam profile settings are set to private, we can't fetch that information.  Also, other users can't find you if they don't know what games you've played.</p>
    <div layout="row" layout-align="end"><md-button class="md-raised md-button" flex="20" ng-click="signupprivCtrl.closeExplainDialog()"><md-icon>close</md-icon> Close</md-button></div>
</div>
