<div layout="row" layout-align="center">
    <div class="md-whiteframe-10dp" style="background-color: white;" flex-lg="45" flex-gt-lg="40" flex-md="50" flex-sm="70" flex-xs="90" layout="column" layout-align="start center">
        <h1 style="font-family: 'Droid Sans', sans-serif; font-weight: bold; color: coral; text-align: center;">Game Giveaway <span style="color:rebeccapurple;">The Elder Scrolls V: Skyrim</span></h1>
        <div>
            <a class="rcptr" href="http://www.rafflecopter.com/rafl/display/4f8cef1d4/" rel="nofollow" data-raflid="4f8cef1d4" data-theme="classic" data-template="" id="rcwidget_rrki78vx">a Rafflecopter giveaway</a>
        </div>
    </div>
</div>