<div layout="row" layout-align="center" class="login-modal-wrapper" style="width: 500px;"> <!-- specific width for IE11 -->
    <div flex="80" class="login-modal" >
        <div layout="column" layout-align="center center" class="login-modal-content">
            <h3 style="width: 400px;" class="login-modal-header">User has set his/her profile to private. Please log on to view the profile.</h3>
            <form action="/auth/steam" method="POST">
                <input class="login-btn" name="submit" type="image" src="/images/steamlogin2.png"/>
            </form>
        </div>
    </div>
</div>